@import "_h";

.main {
  .input {
    border:@baseSize/2 solid @grey;
    &:hover {
      border-color: @primary;
    }
  }

  .svgBox {
    color: @light;
    & > .check{
      fill: @light;
    }
  }
}