@import '../../../layout/Button/layout';
@import "../theme";
.lock {

}

.WithBorder {
  border: 2px solid #000;
}

.WithBorderRadius {
  border-radius: 1rem;
}

.withIcon {

}

.ins{
  background: #fff;
  border-color: #eee;
  color: @dark;
  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 1;
  }
}
