@import "../style.less";

.lock {

}

.WithBorder {
  border: 2px solid #000;
}

.WithBorderRadius {
  border-radius: 1rem;
}

.withIcon {

}

.ins{
  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 1;
  }
}
